
.bg-light-blue
{
  background-color: rgb(217, 235, 249);
}

#contactInfo:hover{
  /* border-bottom: 4px solid rgb(230, 162, 162); */
  border-bottom: 4px solid #13325B;
  transition: all 0.5s; 
}


#form input:hover{
  border: 2px solid;
  border-color: rgb(222, 164, 238);

}

#form textarea:hover{
  border: 2px solid rgb(222, 164, 238);
}
.btnn{
  padding: 5px 20px;
  background-color: #13325B;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
  
  font-family: 'Cinzel', serif;
  font-weight: bold;
}
.btnn:hover{
  background-color: transparent;
  border: 2px solid #13325B;
  color: #13325B;
  transition: all 0.5s;
}